
		.d-container{
			margin:30px;
			background:white;
			position: relative;
        	height: 100%;
         	
		}
        
        
        .detail-container{
            padding-top: 30px;
            background:white;
           
        }

       .movie-info{
           box-sizing: border-box;
           display: flex;
           justify-content: left;
           color: black;
           margin-left:50px;
       }

       .movie-poster img{
           margin-left: 40px;
           margin-right:50px;
           width: 180px;
           height: 265px;
       }

       .movie-info-detail{
        color: black;
       }

       .movie-detail{
           text-align: center;
           color: black;
           font:15px;
       }

       
     
       #title{
           display: flex;
           justify-content: space-between;
          
       }
       
       #items actor{
       	font-size:15px;
       	color: black;
       	
       }

       
      #main-form{
          padding-bottom: 100px;
      }
      
   
      .img-content{
      	color: black;
      }
      
      
       .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: white;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 70%;
        height: 50%;
        object-fit: cover;
      }
      
      
    
    
      
   