
.end-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align:center;
}

.container h1{
	z-index:1;
    font-size: 32px;
    margin-bottom: 20px;
}

.error-area{
    width: 300px;
}


.error-area label{
    font-size: 13px;
    font-weight: bold;
}

.finded{
	display:flex;
	margin-left:80px;
	text-align:center;
	
}



.login-end{
	 width: 400px;
    height: 50px;
    background: #51608C;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-left:-50px;
}


