  div#mainlog,div#mainmypage{
    text-align: center;
  }

  input#mainsearch{
    width: 500px;
  }
  
  #mainheader{
    background-color: rgba(100, 100, 100, 0.3);
  }

  #mainmenutitle{
    font-weight: bold;
    color: black;
    text-align: center;
    width: 10em;
  }

  #mainmenutitle:hover{
    color: orange;
  }

  #header-body {
      padding-top: 260px;
  }
  
  #mypageList{
  	width: 120px;
  	border: 5px solid rgb(100, 100, 100);
  	margin-bottom: 3px;
  	font-weight: bold;
  }
  
  #loginimage{
  	border: 2px solid gold;
  	border-radius: 7px;
  	width: 150px;
  	height: 150px;
  }
  
  #logoimage{
  	border: 2px solid black;
  	border-radius: 100px;
  	width: 150px;
  	height: 150px;
  }